
.menu{
    max-width: 1200px;
    grid-template-columns: repeat(9, 1fr) 2fr 2fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    gap: 0 0.5rem;
}

.toggle{
    display: none;
}

.logo{
    grid-column: span 3;
}

.item.button.primary{
    grid-column: -2 / -3;
    justify-self: center;
}

.item.button.secundary{
    grid-column: -1 / -2;
    justify-self: center;
}

.item{
    grid-column: span 1;
    display: block;
}

.item:hover{
    background-color: var(--button-color);
}
