.menu{
    display: grid;
    grid-template: 140px repeat(6, 1fr) / 140px 1fr 1fr 140px;
    align-content: center;
    align-items: center;
    gap: 0 2rem;
}

.logo{
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    height: 140px;
    width: 140px;
}

.item.button{
    /* height: 30%; */
    display: block;
    width: 80%;
    max-width: 14rem;
    border: 1px solid var(--button-color);
}


.item.button.secundary::after{
    content: none;
}

.item.button.primary{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: var(--button-color);
    justify-self: end;
}

.item.button.secundary{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    justify-self: start;
}

.toggle{
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    justify-self: end;
}

.item{
    grid-column: span 4;
}


